body{
	background-image: url(../img/bg-1.jpg);
	background-repeat: no-repeat ;
	background-size: 100% 100%;
	font-family: "楷体";
}

a:link{
	color: #7F7F7F;
}

/*内容区1 侧边导航栏*/
#container .left-nav{
	width: 18%;
    height: 100%;
	background-color: rgba(245,245,245,0.8);
	margin: 0;
	padding: 0;
	position: absolute;  /*相当于container父元素绝对定位*/
}

#container .left-nav .left-nav-list{
	width: 100%;
	margin: 0;
	margin-top: 30px;
	padding: 0;
}

#container .left-nav .left-nav-list .left-nav-item a{
	width: 100%;
	height: 50px;
	display: block;
	margin: 0;
	padding: 0;
	background-color: rgb(245,245,245);
	border-bottom: 1px solid darkgray;
	font-size: 20px;
	line-height: 50px;
	text-decoration: none;	
}

#container .left-nav .left-nav-list .left-nav-item .selected{
	background: #4CAF50 url(../img/arrow.png) no-repeat right ;
	color: white;
}

#container .left-nav .left-nav-list .left-nav-item a:hover:not(.selected){
	background-color: #666;
	color: white;
}

#container .left-nav .left-nav-list .left-nav-item a .image{
	display: inline-block;
	height: 30px;
	padding: 0;
	margin-top: 8px;
	margin-left: 20px;
}

/*内容区2 页面内容 content*/

#container .content{
	width: 82%;
	height: 100%;
	margin-left: 18%;
}

#container .content .content-details{
	width: 100%;
}

/*个人照片 photo*/
#container .content-details .photo{
	width: 32%;
	height: 60%;
	text-align: center;
	padding-top: 2px;
	float: left;
	font-family: Georgia;
}

#container .content-details .photo .myphoto{
	width: 200px;
	height: 260px;
	margin: auto;
	border-radius: 20px 50px;
}

/*详细个人介绍 description*/
#container .content-details .description{
	width: 60%;
	margin: 0;
	height: 80%;
	float: left;
	padding: 20px;
	background-color: rgba(255,255,255,0.5);
	border: 2px dashed #D3D3D3;
	border-radius: 50px 20px;
	
}

table{
	background-color: none;
	line-height: 30px;
	padding: 5px;
	border-spacing: 0;
}

tr{
	height: 30px;
}

th{
	text-align: left;
	text-decoration: underline;
}

.table-1,.table-3{
	float: left; 
	width: 30%;	
}

.table-2,.table-4{
	float: left;
	padding-left: 3%;
	width: 70%;
	border-left: 1px dashed #D3D3D3;
}

.table-3,.table-4{	
	border-top: 1px dashed #D3D3D3;
}

/*列后清除浮动*/
#container .content .content-details:after ,#container .content .content-details .description:after{
  content: "";
  display: table;
  clear: both;
}


/* 响应式布局 - 屏幕尺寸小于 1150px 时，布局改为上下布局 */
@media screen and (max-width: 1150px) {

#container .content .photo, #container .content .description {   
    float: none;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
  }
  
#container .content .description table{
	width: 90%;
	float: none;
	margin: 0 auto;
	padding: 10px;
	border-bottom: 1px dotted #808080;
	border-left: none;
}

#container .left-nav .left-nav-list .left-nav-item a .image{
	margin-left: 2px;
}
}