/*内容区2-2 页面详情*/
#container .content .content-details{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px dashed #666666;
}

/*设置电影简介区*/
.content-details .left {
	width: 40%;
	float: left;
	margin: 0;
	padding-bottom: 20px;
	line-height: 25px;
}

/*简介图片*/
.left .movie_image-1{
	width: 90%;
	margin: 20px;
	margin-bottom: 10px;
}

.left span{
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

p{
	margin:5px auto;
	padding:0 10px;
	shape-padding: 0;
}

.content-details .right {
	width: 60%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

 /*电影海报*/
.movie_image {
	width: 30%;
	height: 100px;
	margin-top: 10px;
}

.movie_image_1{
	width: 37%;
	margin-top: 20px;
}

.movie_image_2{
	width: 22%;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

/*列后清除浮动*/
.content-details:after{
	content: "";
	display: table;
	clear: both;
}

/* 响应式布局 -屏幕尺寸小于 1000px 时，导航改为上下布局 */
@media screen and (max-width: 1000px) {
.content-details .left,.content-details .right{
    float: none;
    width: 100%;
  }
}