body{
	background-image: url(../img/bg-2.jpg);
	background-repeat: no-repeat ;
	background-size: 100% 100%;
	font-family: "楷体";
}

.content{
	background-color: rgba(255,255,255,0.5);
}

.left{
	width: 60%;
	height: 100%;
	float: left;	
}

.right{
	width: 40%;
	height: 100%;
	float: left;
	padding-bottom: 20px;
}

.right .project2{
	width: 100%;
}
/*右边内容区轮播图*/
.right .project2 #s2{
	float: left;
}

/*右边内容区项目介绍*/
.right .project2 .project-info{
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

p,h4{
	width: 90%;
	margin: 15px auto;
}

p{
	font-size: 17px;
	line-height: 30px;
	text-indent: 2em;
}



.content:after,.project2:after{
	content: "";
	display: table;
	clear: both;
}

/*轮播图*/
/*设置父元素定位*/
#s1,#s2{
	margin: 0 auto;
    position: relative; /*为了给左右按钮 和小圆点*/
	overflow: hidden;	
}

#s2{
	float: left;
	margin-left: 10px;
}

#banner-1, #banner-1 li,#banner-2, #banner-2 li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#banner-1,#banner-2{
    position: absolute;

}

#banner-1 li,#banner-2 li{
    float: left;
}

#banner-1 li img{
    display: block;
	width: 600px;
	
}

#banner-2 li img{
    display: block;
	width: 250px;
	height: 440px;
}

/*小圆点*/
#buttons-1,#buttons-2{
    position: absolute; /*小圆点绝对定位*/
    height: 10px;
    width: 130px;
    bottom: 8%;  /*距离底部*/
    left: 42%;  /*左右居中显示*/
    z-index: 100;
}

#buttons-2{
	left: 30%;
	bottom: 5%;
}

#buttons-1 span,#buttons-2 span{
    cursor: pointer;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%; /*设置成圆*/
    background: #333;
    margin-right: 5px;
}

#buttons-1 .on,#buttons-2 .on{
    background: orangered;
}

/*左右箭头*/
.arrow{
    cursor: pointer;
    display: none;  /*设置暂时不显示*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 200;
    top: 45%;
    background: RGBA(0,0,0,0.3);  /*背景透明度*/
    color: #fff;
}

#prev-1,#prev-2{
    left: 20px;
}

#next-1,#next-2{
    right: 20px;
}

#s1:hover .arrow,  #s2:hover .arrow{
     display: block;
}

/*响应式布局*/
@media screen and (max-width: 1200px) {
#container .content .left,#container .content .right{
	width: 80%;
	float: none;
	margin: 0 auto;
	overflow: auto;
}

.project-info{
	width: 90%;
	margin: 0 auto;
}

.right .project2{
	width: 80%;
	margin: 0 auto;
}





.right .project2 .project-info{
	width: 50%;
	float: right;
}

}

